*,
*::after,
*::before {
  box-sizing: border-box;
}

body{
    margin:0;
}

:root {
  --background-highlight-color: #E2212A;
  --text-color: black;
  --titel-color: white;
  --background-color: #f4f4f4;
  --groteafbeeldingh4-color: white;
  --icon-color: #323232;
}

/*******************************************/
/** DONKER THEMA **/
/*******************************************/
@media (prefers-color-scheme:dark) {

  :root {
    --background-color: #323232;
    --text-color: white;
    --titel-color: black;
    --groteafbeeldingh4-color: white;
    --icon-color: #666666;
  }
}


img:hover {
  transform-origin: right center;
  transform: scale(1.1);
}

body {
  background: var(--background-color);
}

ul {
  list-style: none;
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
  color: var(--titel-color);
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: left;
}

h2 {
  font-size: 0.75em;
  font-family: sans-serif;
  color: #a9a4a2;
}

h3 {
  color: var(--groteafbeeldingh4-color);
  background-color: var(--background-highlight-color);
  border-radius: 3px;
  justify-self: start;
  font-size: 0.745875em;
  font-family: sans-serif;
  padding: 5.1px;
  position: absolute;
  top: -4px;
  left: 100px;
}

h4 {
  font-size: 1em;
  font-family: sans-serif;
  padding-top: 15px;
}

h5 {
  font-size: 22px;
  margin: 0px 0px 16px;
  font-family: sans-serif;
  color: white;
  left: 100px;
}

h6 {
  color: var(--groteafbeeldingh4-color);
}

/*******************************************/
/** NAVIGATIE **/
/*******************************************/
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: var(--background-color);
}

header>img {
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

header nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

header nav ul li img {
  border-radius: 4px;
  padding: 5px;
  width: 55px;
  float: right;
}

header nav ul li {
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

body header a img {
  width: 48px;
  margin: 4px;
}



/*******************************************/
/** HAMBURGER MENU **/
/*******************************************/
header nav ul li ul {

  margin-top: 0px;
  position: fixed;
  top: 4.2em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  left: 0;
  right: 0;

  transform: translateY(-1000%);
}

header nav ul li ul li {
  display: flex;
  width: 100%;
  border: 1px solid white;
  border-radius: 1%;
}

header nav ul li ul h2 {
  color: grey;
  justify-content: flex-start;
  padding-left: 1em;
  text-transform: uppercase;
}

header nav ul li {
  position: relative;
}

.visible {
  transform: translateY(0%);
}

header nav ul li ul li a {
  text-decoration: none;
}

/**********************************/
/*FOOTER BRUINE GEDEELTE*/
/**********************************/
footer article:first-of-type {
  background-color: none;
  background-image: linear-gradient(70deg,
      #221a17,
      #241e19 2em,
      #29211c 2em,
      #221a17 9em,
      #29211c 9em,
      #231c18 16em,
      #29211c 16em,
      #29211c);
  padding: 20px;
  margin-left: 0px;
  padding-top: 0px;
}

footer {
    width: 100%;
}

/**********************************/
/*AT5 LOGO*/
/**********************************/
footer article:first-of-type img {
  width: 55px;
  margin: 24px 0px;
}

footer h2:hover {
  color: white;
}

footer h2:active {
  color: gray;
}

footer article section h2 a {
  color: #a9a4a2;
  text-decoration: none;
}

footer article section h2 a:hover {
  color: white;
}

footer article section h2 a:active {
  color: grey;
}

/**********************************/
/*ALLE H2 IN FOOTER*/
/**********************************/
footer article section:first-of-type a {
text-decoration: none;

}

/**********************************/
/*TEKST BOVEN THEMA*/
/**********************************/
footer article section:first-of-type a:nth-of-type(10) h2 {
  /* color: #241e19; */
  color:red;
}

/**********************************/
/*TEKST BOVEN SOCIAL MEDIA*/
/**********************************/
footer article section:first-of-type a:nth-of-type(11) h2 {
  /* color: #231c18; */
    color:red;

}

footer article section:first-of-type a:nth-of-type(18) h2 {
  /* color: #231c18; */
  color:red;
}

footer article section:first-of-type a:nth-of-type(19) h2 {
  /* color: #231c18; */
  color:red;
}

/**********************************/
/*SOCIAL MEDIA */
/**********************************/
footer article section:nth-of-type(2) ul li a {
  display: flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
}

footer article section:nth-of-type(2) ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

footer article section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

/**********************************/
/*FACEBOOK ICOON*/
/**********************************/
footer article section:nth-of-type(2) ul li:first-of-type svg {
  width: 22px;
  fill: #a9a4a2;
  margin: 10px;
}

footer article section:nth-of-type(2) ul li:first-of-type svg:hover {
  width: 22px;
  fill: white;
  margin: 10px;
}

/**********************************/
/*OVERIGE SOCIAL MEDIA ICOONTJES*/
/**********************************/
footer article section:nth-of-type(2) ul li:first-of-type  a h2{
  color:#a9a4a2;
  margin-left: 9px;
}

footer article section:nth-of-type(2) a:first-of-type svg {
  width: 30px;
  fill: #a9a4a2;
  margin: 10px;
}

footer article section:nth-of-type(2) a:first-of-type svg:hover {
  width: 30px;
  fill: white;
  margin: 10px;
}

footer article section:nth-of-type(2) a:first-of-type h2 {
  color: #a9a4a2;
}

footer article section:nth-of-type(2) a:first-of-type h2:hover {
  color: white;
}

/**********************************/
/*ZWARTE FOOTER*/
/*********************************/
footer article:nth-of-type(2) {
  background-color: black;
  padding: 16px;
  width: 100%;
  margin-left: 0px;
}

footer article:nth-of-type(2) h2 {
  color: white;
  font-weight: 10;

}

footer article:nth-of-type(2) a h2 {
  color: white;
  font-weight: 10;
}

footer article:nth-of-type(2) a h2:hover {
  color: blue;
}

footer article:nth-of-type(2) a h2:active {
  color: grey;
}

footer article:nth-of-type(2) a h2 {
  text-decoration: underline;
}