*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --background-highlight-color: #E2212A;
    --text-color: black;
    --titel-color: white;
    --background-color: #f4f4f4;
    --groteafbeeldingh4-color: white;
    --icon-color: #323232;
    --rand-kleur: white;
    --background-color2: white;
    --footer-text: #a9a4a2;
    --active-grey: grey;
    --footer-achtergrond: black;
    --hover-blue: blue;
    --ulli-active: lightblue;
    --button-border: darkred;
    --button-active: red;
    --allespecials-achtergrond: #9e1317;
    --disabled-button: #e29695;
    --button-color: #d13835;
}

/*******************************************/
/** DONKER THEMA **/
/*******************************************/
@media (prefers-color-scheme:dark) {

    :root {
        --text-color: white;
        --titel-color: black;
        --background-color: #323232;
        --groteafbeeldingh4-color: white;
        --icon-color: #666666;
        --rand-kleur: #666666;
        --background-color2: #1e1e1e;
        --hover-wit: white;
        --ulli-active: #1e1e1e;
    }
}

body {
    background: var(--background-color2);
    margin: 0;
}

ul {
    list-style: none;
}

h2 {
    font-size: 19px;
    font-family: sans-serif;
    color: var(--titel-color);
    left: 16px;
    text-align: left;
}

h3 {
    color: var(--groteafbeeldingh4-color);
    background-color: var(--background-highlight-color);
    border-radius: 3px;
    justify-self: start;
    font-size: 0.745875em;
    font-family: sans-serif;
    padding: 5.1px;
    position: absolute;
    top: -4px;
    left: 110px;
}

h4 {
    font-size: 1em;
    font-family: sans-serif;
    padding-top: 15px;
}

p {
    font-size: 0.75em;
    color: var(--footer-text);
    ;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 9.96px 0px;
}

/*******************************************/
/** NAVIGATIE **/
/*******************************************/
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--background-color);
}

header nav ul {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
}

header nav ul li img {
    border-radius: 4px;
    padding: 5px;
    width: 55px;
    float: right;
}

header nav ul li {
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}

body header a h1 {
    margin: 0;
}

body header a:first-of-type img {
    width: 48px;
    margin: 4px;
    margin-top: 20px;
    margin-bottom: 0px;
}

/*******************************************/
/** HAMBURGER MENU **/
/*******************************************/
header nav ul li ul {
    margin-top: 0px;
    position: fixed;
    top: 4.2em;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    left: 0;
    right: 0;
    transform: translateY(-1000%);
}

header nav ul li ul li {
    display: flex;
    width: 100%;
    border: 1px solid var(--rand-kleur);
    border-radius: 1%;
}

header nav ul li ul p {
    color: var(--icon-color);
    justify-content: flex-start;
    padding-left: 1em;
    text-transform: uppercase;
}

header nav ul li {
    position: relative;
}

.visible {
    transform: translateY(0%);
}

header nav ul li ul li a {
    text-decoration: none;
}

img:hover {
    transform-origin: right center;
    transform: scale(0.99);
}

/**********************************/
/*FOOTER BRUINE GEDEELTE*/
/**********************************/
footer article:first-of-type {
    background-image: linear-gradient(70deg,
            #221a17,
            #241e19 2em,
            #29211c 2em,
            #221a17 9em,
            #29211c 9em,
            #231c18 16em,
            #29211c 16em,
            #29211c);
    padding: 20px;
    margin-left: 0px;
    padding-top: 0px;
}

footer {
    width: 100%;
}

/**********************************/
/*FOOTER LINKJES*/
/**********************************/
footer article ul {
    padding: 0;
    padding-top: 10px;
    margin-top: 0;
}

footer article ul li a p {
    color: var(--footer-text);
}

footer article ul li a {
    text-decoration: none;
}

footer article ul li a p {
    width: 20%;
}


footer article ul li a p {
    cursor: pointer;
}

footer article ul li a p:hover {
    color: var(--hover-wit);
}

footer article ul li a p:active {
    COLOR: var(--active-grey);
}

/**********************************/
/*AT5 LOGO*/
/**********************************/
footer article:first-of-type img {
    width: 55px;
    margin-top: 24px;
}

/**********************************/
/*SOCIAL MEDIA */
/**********************************/
footer article section:first-of-type ul li a {
    display: flex;
    align-items: center;
    margin: 0;
    text-decoration: none;
}

footer article section:first-of-type ul {

    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
}

footer article section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}

/**********************************/
/*FACEBOOK ICOON*/
/**********************************/
footer article section:first-of-type ul li:first-of-type svg {
    width: 22px;
    margin: 10px;
}

footer article section:first-of-type ul li:first-of-type svg:hover {
    width: 22px;
    fill: var(--hover-wit);
    margin: 10px;
}

/**********************************/
/*OVERIGE SOCIAL MEDIA ICOONTJES*/
/**********************************/
footer article section:first-of-type ul li:first-of-type a p {
    color: var(--footer-text);
    margin-left: 9px;
}

footer article section:first-of-type a:first-of-type svg {
    width: 30px;
    fill: var(--footer-text);
    margin: 10px;
}

footer article section:first-of-type a:first-of-type svg:hover {
    width: 30px;
    fill: white;
    margin: 10px;
}

/**********************************/
/*ZWARTE FOOTER*/
/*********************************/
footer article:nth-of-type(2) {
    background-color: var(--footer-achtergrond);
    padding: 16px;
    width: 100%;
    margin-left: 0px;
}

footer article:nth-of-type(2) p {
    color: var(--groteafbeeldingh4-color);
    font-weight: 10;
}

footer article:nth-of-type(2) a p:hover {
    color: var(--hover-blue);
}

footer article:nth-of-type(2) a p:active {
    color: var(--active-grey);
}

footer article:nth-of-type(2) a p {
    text-decoration: underline;
}