/* CSS Document */
/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-highlight-color: #E2212A;
  --text-color: black;
  --titel-color: white;
  --background-color: #f4f4f4;
}

img:hover {
  transform: scale(0.9);
}

header {
  background-color: var(--titel-color);
}

body {
  background: var(--background-color);
}

ul {
  list-style: none;
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
  color: var(--titel-color);
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: left;
}

h2 {
  font-size: 12px;
  font-family: sans-serif;
  color: #a9a4a2;
}

h3 {
  color: var(--titel-color);
  background-color: var(--background-highlight-color);
  border-radius: 3px;
  justify-self: start;
  font-size: 11.934px;
  font-family: sans-serif;
  padding: 5.1px;
  position: absolute;
  top: -4px;
  left: 100px;
}

h4 {
  font-size: 16px accord;
  font-family: sans-serif;
  padding-top: 15px;
}

h5 {
  font-size: 22px;
  margin: 0px 0px 16px;
  font-family: sans-serif;
  color: white;
  left: 100px;
}

h6 {
  color: var(--titel-color);
}

/*******************************************/
/** NAVIGATIE **/
/*******************************************/
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header>img {
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

header nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

header nav ul li img {
  border-radius: 4px;
  padding: 5px;
  width: 55px;
  float: right;
}

header nav ul li {
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

body header a img{
  width: 48px;
}

/*******************************************/
/** HAMBURGER MENU **/
/*******************************************/
header nav ul li ul {
  opacity: 0;
  margin-top: 0px;
}

.visible {
  opacity: 1;
}

/*******************************************/
/** MAIN **/
/*******************************************/
main {
  padding: 20px 32px;
}

main h2:first-of-type {
  font-size: 20px;
  color: black;
  font-family: sans-serif;
}

main h2:nth-of-type(2) {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

main h2:nth-of-type(3) {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

textarea {
  padding: 80px 80px;
}

/*******************************************/
/** MAIN EMAILADRES**/
/*******************************************/
main h2:nth-of-type(4) {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

main h2:nth-of-type(4) a {
  font-size: 14px;
  color: blue;
  font-weight: 400;
}

main h2:nth-of-type(4) a:hover {
  font-size: 14px;
  color: red;
  font-weight: 400;
}

main h2:nth-of-type(4) a:active {
  font-size: 14px;
  color: darkred;
  font-weight: 400;
}
/*******************************************/
/** EINDE MAIN EMAILADRES**/
/*******************************************/

main h2:nth-of-type(5) {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

main h2:nth-of-type(6) {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

main h2:nth-of-type(7) {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

/**********************************/
/*FOTO/VIDEO/AUDIO BUTTON*/
/*********************************/
main section button:first-of-type {
  height: 3em;
  border: 1px solid #d13835;
  color: red;
  background-color: white;
  border-radius: 1.5em;
  margin-top: 10px;
  cursor: pointer;
  /* om het standaard randje bij focus niet te tonen */
  /* nodig voor telefoons */
}

main section button:first-of-type h2 {
  margin-top: -38px;
  height: 3em;
  padding: 0 1em;
  color: #d13835;
  font-weight: bolder;
  font-size: 16px;
  padding-left: 50px;
}

main section button:first-of-type img {
  width: 25px;
  margin-right: 130px;
}

main section button:hover:first-of-type  {
  border: 2px solid #d13835;
}
main section button:active:first-of-type  {
  border: 2px solid darkred;
}
/**********************************/
/*VERDER KNOP*/
/*********************************/
main section:nth-of-type(2) button {
  height: 3em;
  padding: 0 1em;
  background-color: #d13835;
  color: white;
  border: none;
  border-radius: 1.5em;
  margin-right: 100px;
  margin-top: 20px;
  font-weight: bolder;
  cursor: not-allowed;
  width: 100%;

  /* om het standaard randje bij focus niet te tonen */
  outline: none;
  /* nodig voor telefoons */
  appearance: none;
}

main section:nth-of-type(2) button:disabled {
  background-color: #e29695;

}

/**********************************/
/*FOOTER BRUINE GEDEELTE*/
/**********************************/
footer article:first-of-type {
  background-color: none;
  background-image: linear-gradient(70deg,
      #221a17,
      #241e19 2em,
      #29211c 2em,
      #221a17 9em,
      #29211c 9em,
      #231c18 16em,
      #29211c 16em,
      #29211c);
  padding: 20px;
  margin-left: 0px;
  padding-top: 0px;
}

/**********************************/
/*AT5 LOGO*/
/**********************************/
footer article:first-of-type img {
  width: 55px;
  margin: 24px 0px;
}

/**********************************/
/*TEKST BOVEN THEMA*/
/**********************************/
footer article section:first-of-type h2:nth-of-type(11) {
  color: #241e19;
}

/**********************************/
/*KNOP D*/
/**********************************/
footer article section button {
  color: blue;
  background-color: black;
  border: 1px solid #a9a4a2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 16px;
  margin-left: 55px;
  margin-top: -32px;
}

footer article section button h2 {
  color: #a9a4a2;
  background-color: black;
  margin-top: -11px;
  margin-left: -6px;
  font-size: 17px;
}

/**********************************/
/*KNOP A*/
/**********************************/
footer article section button:nth-of-type(2) {
  color: #a9a4a2;
  background: linear-gradient(-90deg, white 50%, black 50%);
  border: 1px solid #a9a4a2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 16px;
  margin-left: 95px;
  margin-top: -46px;
}

footer article section button:nth-of-type(2) h2 {
  font-size: 17px;
  background: none;
  /* color: linear-gradient(-90deg, black 50%, white 50%); */
  color: black;
  margin-left: -5px;
}

/**********************************/
/*KNOP L*/
/**********************************/
footer article section button:nth-of-type(3) {
  color: blue;
  background-color: black;
  border: 1px solid #a9a4a2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 16px;
  margin-left: 135px;
  margin-top: -47px;
}

/**********************************/
/*TEKST BOVEN SOCIAL MEDIA*/
/**********************************/
footer article section:first-of-type h2:nth-of-type(13) {
  color: #231c18;
}

footer article section:first-of-type h2:nth-of-type(20) {
  color: #231c18;
}

footer article section:first-of-type h2:nth-of-type(21) {
  color: #231c18;
}

/**********************************/
/*SOCIAL MEDIA EERSTE RIJ*/
/**********************************/
footer article section:nth-of-type(2) {
  display: flex;
}

footer article section:nth-of-type(2) svg {
  width: 30px;
  fill: #a9a4a2;
  margin: 10px;
}

footer article section:nth-of-type(2) h2 {
  display: flex;
  margin-right: 60px;
  margin-top: 10px;
}

/**********************************/
/*SOCIAL MEDIA TWEEDE RIJ*/
/**********************************/
footer article section:nth-of-type(3) {
  display: flex;
}

footer article section:nth-of-type(3) svg {
  width: 30px;
  fill: #a9a4a2;
  margin: 10px;
}

footer article section:nth-of-type(3) h2 {
  display: flex;
  margin-right: 75px;
}

/**********************************/
/*SOCIAL MEDIA DERDE RIJ*/
/**********************************/
footer article section:nth-of-type(4) {
  display: flex;
}

footer article section:nth-of-type(4) svg {
  width: 30px;
  fill: #a9a4a2;
  margin: 10px;
}

footer article section:nth-of-type(4) h2 {
  display: flex;
  margin-right: 60px;
}

/**********************************/
/*ZWARTE FOOTER*/
/**********************************/
footer article:nth-of-type(2) {
  background-color: black;
  padding: 16px;
  width: 100%;
  margin-left: 0px;
}

footer article:nth-of-type(2) h2 {
  color: white;
}

footer article:nth-of-type(2) h2:nth-of-type(2) {
  text-decoration: underline;
}

footer article:nth-of-type(2) h2:nth-of-type(3) {
  text-decoration: underline;
}